Options +FollowSymLinks +ExecCGI
AddType text/javascript .jsgz
AddType text/css .cssgz
AddEncoding x-gzip .jsgz .cssgz

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^yannickmahe.com
  RewriteRule (.*) http://www.yannickmahe.com/$1 [R=301,L]
</IfModule>

